.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Icons
 */
.icon > svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.icon > svg path {
    fill: #828282;
}
